%div#nav
  %div#hosts.nav
    %h2 Hosts
    %ul
      - @hosts.each do |host|
        %li
          %a{:href => "/#{host}"}= host

%div#graphs
  - if @graphs
    - @graphs.each.with_index do |g, n|
      .graph{:style => 'width: 1100px', :'data-interval' => 5*60, :'data-index' => 0}
        %h2= g.label
        .top_bar
          %select.interval
            %option{:value => 5*60 }= "5 minutes"
            %option{:value => 60*60 }= "1 hour"
            %option{:value => 24*60*60 }= "24 hours"
            %option{:value => 7*24*60*60 }= "1 week"
          %input.live_update{:type => 'checkbox', :'data-id' => n}
          %label Auto Refresh
          %a.reset.button Reset Zoom and Update
          %a.previous.button Previous
          %a.next.button Next
        .legend
        .canvas{:id => "graph_#{n}", :style => 'height: 400px; width: 1000px;'}
        :javascript
          $('#graph_#{n}').parent('.graph').data({
            host: '#{params[:host]}',
            name: '#{g.short_name}'
          });
        
  - else
    %div#nothing
      Sorry, nothing to display!
  
